{% extends "templatebase.html" %}
{% load static %}   

{% block contenido %}

    <section id="quienes" >
        <div class="portada-menu">
            <a> {{hora}} </a>
        </div>
    </section> 
    
    <section id="quienes" >
    
        <div>
            <h2>¡BIENVENIDOS A NUESTRO PORTAL PARA EL CUIDADO DE SUS MASCOTAS!</h2>
        </div>
    </section>

        <!--formulario para ingresar correo y contraseña, se debería hacer una página para registrarse-->
    <section id="inicio-sesion">
                <!--login-->
                <div class="boton-entraru">
                    <a href={% url "login" %} class="link-menu">Iniciar Sesion</a>
                </div>
                <!--registro-->   
                <div class="boton-entrar">
                    <a href={% url "registro" %} class="link-menu">Registrarse</a>
    </section>            
        
    

    
    
{% endblock contenido %}
